.footer {
     padding-top: 56px;
     padding-bottom: 56px;
}

.footer-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.copyright {
     // @include font(11, 600, 1363, 0.2);
     font-weight: 600;
     font-size: 11px;
     line-height: 1.363;
     letter-spacing: 0.2em;
     color: #9da4bd;
}